<div class="filter">
  <form class="form">
    <div class="form__name">
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input
          matInput
          placeholder="Ex. Fulano da Silva"
          name="name"
          [(ngModel)]="filterOptions.name"
        />
      </mat-form-field>
    </div>

    <div class="form__date-picker">
      <mat-form-field>
        <mat-label>Data de cadastro</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            placeholder="Start date"
            name="startDate"
            [(ngModel)]="filterOptions.startDate"
            (ngModelChange)="dataSelecionada($event)"
          />
          <input
            matEndDate
            placeholder="End date"
            name="endDate"
            [(ngModel)]="filterOptions.endtDate"
          />
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>

    <div class="form__status">
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select>
          @for (op of status; track op) {
          <mat-option [value]="op.value">{{ op.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form__button">
      <button mat-raised-button color="primary">Primary</button>
    </div>
  </form>
</div>
